/* RESET */
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
em,i{font-style:italic}
ul,ol,li{padding:0;margin:0;list-style:none;}
strong,b{font-weight:bold}
/* Global declarations */
body{font-size:62.5%;margin:0;background-color:#ffffff;}
a img{border:none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
*html .clearfix{zoom:1;display:block;}
a:link,a:visited{text-decoration:underline;color:#222;outline:none;}
a:hover{text-decoration:none;}
div#wrapper{margin:0px auto;width:985px;clear:both;border:1px solid #333;}
div#container{width:985px;}
    #header{margin:0 auto;width:985px;border-bottom-color:#eeeeee;background-color:#ffffff;border-bottom:0px;}
    #top{margin:0;}
    #top a{margin:0;}
    #top img{margin-bottom:-3px;}
div.header-link-top{margin:10px 0 5px 10px;}
div.header-link-image{margin:0px 0px 0px 0px;}
    #navigation{width:985px;display:block;clear:both;border-bottom-width:1px;border-bottom:1px solid #888;background-color:#ffffff;border-bottom-color:#eeeeee;width:937px;height:38px;background-image:url(http://www.gooddata.com/files/2009/10/gdbackgroundline.gif) ;margin:0 25px 0px 0px;padding:0px 25px 0 25px;border-bottom:0px;}
ul.navigation{margin:0;padding:0;list-style:none;float:left;position:relative;z-index:100;}
    ul.navigation li{float:left;list-style:none;margin:0;position:relative;font-weight:bold;}
    ul.navigation li a{padding:10px;text-decoration:none;border-right:1px solid #666;display:inline-block;font-variant:normal;letter-spacing:0px;font-family:arial,sans-serif;border-width:1px;text-transform:none;background-color:#ffffff;color:#4f6a73;font-weight:bold;font-size:12px;border-color:#bcd5db;line-height:16px;text-decoration:none;letter-spacing:0px;font-size:13px;}
ul.navigation li a:hover{text-decoration:underline;}
#container{margin:10px 0;}
.headway-leaf{float:left;width:250px;margin:5px;padding:10px 10px 0;overflow:hidden;min-height:110px;}
#footer{margin:0 auto;width:985px;clear:both;border-top:1px solid #888;min-height:17px;}
.footer-fixed #footer{border-top:1px solid #888;margin:5px 0 0;}
li.widget{margin:0 0 25px;}
div#wrapper{background:#fff;border-color:#222;border-width:3px;}
div.header-link-image{float:left;}
div.header-link-image a{border-bottom:none;}
.headway-leaf{background:none;}
#footer{display:block;padding:10px 0;border-top:1px solid #999;}
ul.sidebar{margin:0;padding:0;}
ul.sidebar li{list-style:none;}
em,i{font-style:italic;}
div.headway-leaf{border-color:none;background-color:#ffffff;}
div#wrapper{border-width:0px;border-color:#c3c3c3;background-color:#ffffff;}
body.footer-fixed div#footer{border-top-color:#dddddd;background-color:#ffffff;color:#585858;font-family:arial,sans-serif;font-size:12px;line-height:16px;}
div.leaf-content{color:#333333;line-height:18px;font-size:14px;font-family:arial,sans-serif;}
div.sidebar{}
div.sidebar li.widget{font-family:arial,sans-serif;color:#696969;font-size:13px;line-height:16px;}
div.sidebar a{color:#444444;}
body.custom div#container{width:937px;background-image:url(http://www.gooddata.com/files/2009/10/gdbackground2.gif) ;background-repeat:repeat-y;margin:0px 0px 0 0;padding:0px 25px 0 25px;}
body.custom #homelink{width:750px;position:absolute;margin:10px 0px -60px 0px;z-index:1000;}
body.custom div#navigation a:hover{background:none;background-image:url(http://www.gooddata.com/files/2009/10/navhover.png) ;background-repeat:no-repeat;color:#667071;}
body.custom div#navigation ul.navigation li a:link,ul.navigation li a:visited{padding-left:15px;padding-right:15px;}
body.custom .headway-leaf{padding:0px 0px 0px 0px;}
body.custom a{text-decoration:none;}
body.custom a:hover{color:#6f94a5;}
body.custom h1{line-height:30px;font-size:24px;}
body.custom div#container .subfooter{float:left;width:960px;margin:0px 0px 0px -28px;padding:25px 13px 0px 18px;color:#666;background-image:url(http://www.gooddata.com/files/2009/10/footerbackground2.jpg);background-repeat:no-repeat;background-color:#ffffff;}
body.custom div#container .subfooter a{}
body.custom #footerlinks{float:right;color:rgb(74,124,147);width:540px;margin:0px 0px 0px 0px;padding:10px 8px 0px 420px;}
body.custom #footerlinks a{color:rgb(74,124,147);}
body.custom #footer{border:0px;}
