#contain-wrap {
    font-size: 14px;
    text-align: center;
    padding-bottom: 100px;
    font-family: sans-serif;
}
#contain-wrap h1 {
    font-size: 2em;
    margin-bottom: 2em;
}
#contain-wrap ul {
    text-align: left;
    padding-left: 0em;
    margin-left: 300px;
    line-height: 1.4em;
}
#contain-wrap li {
    list-style: disc;
}
.buttonsWrap {
    margin-top: 50px;
    margin-left: -100px;
}
.buttonsWrap button {
    background-color: #6DAF37;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 0px none;
    margin: 5px;
    padding: 5px 15px;
    color: white;
    text-shadow: #468422 1px 1px 2px;
    font-size: 1em;
    cursor: pointer;
}
.links {
    margin-top: 50px;
    text-align: left;
    margin-left: 200px;
}
.links a {
    color: #4E68B8;
}

#documentation {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}
