<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GoodData Developer Network | {{ page.title }}</title>
    <!--[if IE]><![endif]-->

    <style>
        article, aside, dialog, figure, footer, header,
        hgroup, menu, nav, section { display: block; }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link rel="stylesheet" href="{{ site.root }}/css/style.css" type="text/css">
    <script src="{{ site.root }}/js/modernizr-1.5.min.js"></script>
</head>
<body>

    <header>
        <a href="http://www.gooddata.com/" title="GoodData"><img src="{{ site.root }}/images/logo.png" alt="GoodData | Developer Network" /></a>
    </header>

    <div id="wrapper">

        <div id="navigation">
            <ul>
                <li>
                    <a href="{{ site.root }}/" title="Home"{% if page.section == 'home' %} class="active"{% endif %}>Home</a>
                </li><li>
                    <a href="{{ site.root }}/start/" title="Getting Started"{% if page.section == 'start' %} class="active"{% endif %}>Getting Started</a>
                </li><li>
                    <a href="{{ site.root }}/api/" title="API Documentation"{% if page.section == 'documentation' %} class="active"{% endif %}>Documentation</a>
                </li><li>
                    <a href="{{ site.root }}/download.html" title="Download"{% if page.section == 'download' %} class="active"{% endif %}>Tools</a>
                    <!-- <ul>
                        <li><a href="/gooddata-cl/" title="GoodData Command-Line Utility">GoodData CL</a></li>
                        <li><a href="/snaplogic/" title="GoodData + SnapLogic">GoodData + SnapLogic</a></li>
                    </ul> -->
                </li><li>
                    <a href="http://support.gooddata.com/forums/176660-developer-forum" title="Developer Forum">Forum</a> 
                </li>
            </ul>
        </div>

        <div id="container">
            <div id="contain-wrap">
            {{ content }}
            </div>
        </div>

    </div>

    <footer>
        © 2010 <strong>GoodData Corporation</strong>. All rights reserved. <a href="http://www.gooddata.com/about/contact-us/">Contact</a> | <a href="http://www.gooddata.com/privacy-policy/">Privacy Policy</a>
    </footer>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3766725-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</body>
</html>
