---
layout: default
---

<div class="menu documentation">
<ul>
    <li>Create Data Model:
        <ul>
            <li>generic data modeling section</li>
            <li>XML config</li>
            <li>MAQL DDL?</li>
        </ul>
    </li>
    <li>Automate Upload:
        <ul>
            <li>Data Snapshots</li>
            <li>Transfering Updates vs All Data</li>
        </ul>
    </li>
    <li>Creating Reports &amp; Dashboards:
        <ul>
            <li>adding metrics</li>
            <li>creating reports &amp; dashboards</li>
            <li>advanced charting</li>
        </ul>
    </li>
    <li>Embedding:
        <ul>
            <li>dashboard-only role</li>
            <li>user filters</li>
        </ul>
    </li>
    <li>Creating Projects</li>
    <li>Sharing/Permissions</li>
    <li>Embedding</li>
    <li>Master/Slave template management</li>
    <li>CL tool</li>
    <li>Basic Usage</li>
    <li>data schema XML syntax</li>
    <li>CL commands (running, command-line, install)</li>
</ul>

	
</ul>
</div>
<div id="documentation">
    {{content}}
</div>