---
layout: default
---

<div class="menu documentation">
<ul>
    <li><a href="#" class="nonexistent">Create Data Model</a>
        <ul>
            <li><a href="#" class="nonexistent">generic data modeling section</a></li>
            <li><a href="/gooddata-cl/xml-config.html">XML config</a></li>
            <li class="active"><a href="/api/maql-ddl.html">MAQL DDL?</a></li>
        </ul>
    </li>
    <li><a href="/gooddata-cl/cli-commands.html">Automate Upload:</a>
        <ul>
            <li><a href="/gooddata-cl/cli-commands.html">Data Snapshots</a></li>
            <li><a href="/gooddata-cl/cli-commands.html">Transfering Updates vs All Data</a></li>
        </ul>
    </li>
    <li><a href="">Creating Reports &amp; Dashboards</a>
        <ul>
            <li><a href="">adding metrics</a></li>
            <li><a href="">creating reports &amp; dashboards</a></li>
            <li><a href="">advanced charting</a></li>
        </ul>
    </li>
    <li><a href="">Embedding</a>
        <ul>
            <li><a href="">dashboard-only role</a></li>
            <li><a href="">user filters</a></li>
        </ul>
    </li>
    <li><a href="/faq.html">FAQ</a></li>
    <li>Creating Projects</li>
    <li>Sharing/Permissions</li>
    <li>Embedding</li>
    <li>Master/Slave template management</li>
    <li>CL tool</li>
    <li>Basic Usage</li>
    <li>data schema XML syntax</li>
    <li>CL commands (running, command-line, install)</li>
</ul>

	
</ul>
</div>
<div id="documentation">
    {{content}}
</div>